<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Personal site</title>
</head>

<body>
  <!-- <img src="https://cdn-prod.medicalnewstoday.com/content/images/articles/320/320875/a-basic-diagram-of-a-mitochondrion.jpg" alt="a picture"> -->
  <h1>XXXXXZZZZZZ</h1>
  <p>Postdoc Fellow </p><h2></h2>
  <p>I am an postdoc at Marquette University</p>
  <hr>
  <h3>Education</h3>
  <ul>
    <li>Marquette University,Ph.D. Biomeidcal Engineering, 2019</li>
    <li>UIUC, M.S. Computer Science, 2021</li>
  </ul>
  <table>
    <tr>
      <td>Marquette University</td>
      <td>PhD in Biomedical Engineering</td>
      <td>2019</td>
    </tr>
    <tr>
      <td>UIUC</td>
      <td>M.S. in Computer Science</td>
      <td>2021</td>
    </tr>
  </table>

</body>

</html>
